// Place all the styles related to the Annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-show-body-annotations {
    padding-top: 90px;
    width: 45%;
    padding-right: 16px;

    &-display {
        border-left: 5px solid #99A7EE;
        min-width: 300px;
        max-width: 390px;
        padding-left: 10px;
        
        &-body {
            padding-bottom: 5px;
        }
    }
}

.annotation-button {
    height: 35px;
    width: 258px;
    border: 2px solid black;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    cursor: pointer;

    &-green-text {
        color: #0ecb27;
        font-size: 12px;
    }

}

.annotation-sign-in {
    width: 216px;
    text-decoration: none;
}

.annotation-form {
    width: 420px;
    padding-left: 12px;
    box-sizing: border-box;
    border-left: 5px solid #99A7EE;


    & textarea {
        outline: initial;
        height: 184px;
        width: 100%;
        border: none;
        background: rgba(204,204,204,20%);
        padding: 10px;
        box-sizing: border-box;
        margin: 16px 0px;
        &::placeholder {
            opacity: 20%;
        }
    }

    &-buttons {
        padding-top: 10px;
        display: flex;
    }
    &-submit-button {
        border: 2px solid #0ecb27;
        color: #0ecb27;
        background: white;
        height: 35px;
        width: 95px;
        cursor: pointer;
    }
    &-cancel-button {
        cursor: pointer;
        padding: 4px;
        padding-left: 15px;
    }
}

.annotation-edit-button, .annotation-delete-button {
        border: 2px solid #000000;
        color: #000000;
        background: white;
        height: 35px;
        width: 50px;
        padding: 4px 8px;
        cursor: pointer;
        font-size: 16px;

        &-container {
            display:flex;
        }
}

.annotation-delete-button {
    width: 80px;
    margin-left: 20px;
}