.charts {
    background-color: #f9f9f9;
    width: 100%;
    margin: auto;
    counter-reset: chart-list;

    &-background {
        width: 100%;
        background-color: #f9f9f9;
    }

    &-header {
        text-align: center;
        margin:auto;
        font-size: 80px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &-sub-header {
        text-align: center;
        font-size: 14px;
        color: #ff1464;
        text-transform: uppercase;
        padding-bottom: 40px;
    }

    &-song {
        display: flex;
        border-bottom: 2px solid #E9E9E9;
        height: 77px;
        align-items: center;
        text-decoration: none;

        &:hover {
            background-color: #E9E9E9;
        }

        &::before {
            counter-increment: chart-list;
            content: counter(chart-list);
            font-size: 24px;
            padding-left: 20px;
            position: absolute;
        }

        &-cover {
            padding-left: 115px;
            height: 60px;
            width: 60px;
            object-fit: contain;
        }

        &-title {
            font-size: 24px;
            width: 400px;
            padding-left: 30px;
        }

        &-artist {
            width: 252px;
            padding-left: 70px;
            font-size: 24px;
            font-weight: 100;
        }

        &-view-count {
            font-size: 12px;
            font-weight: 400;
            width: 252px;
            margin-left: 270px;
            position: relative;
        }

        // & span {
        //     position: absolute;
        // }

    }
}


.fa-free-code-camp {
    color: #ff1464;
    font-size: 20px;
    position: absolute;
    left: -35px;
}