.charts {
    background-color: #f9f9f9;
    width: 100%;
    margin: auto;
    counter-reset: chart-list;
    display: flex;
    flex-direction: column;

    &-background {
        width: 100%;
        background-color: #f9f9f9;
    }

    &-header {
        text-align: center;
        margin:auto;
        font-size: 80px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &-sub-header {
        text-align: center;
        font-size: 14px;
        color: #ff1464;
        text-transform: uppercase;
        padding-bottom: 40px;
    }

    &-song {
        display: flex;
        border-bottom: 2px solid #E9E9E9;
        height: 77px;
        align-items: center;
        text-decoration: none;
        margin: auto;

        &:hover {
            background-color: #E9E9E9;
        }

        &::before {
            counter-increment: chart-list;
            content: counter(chart-list);
            font-size: 24px;
            padding-left: 20px;
            position: absolute;
        }

        &-cover {
            padding-left: 115px;
            height: 60px;
            width: 60px;
            object-fit: contain;
        }

        &-title {
            font-size: 24px;
            width: 400px;
            padding-left: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &-artist {
            width: 252px;
            padding-left: 70px;
            font-size: 24px;
            font-weight: 100;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &-view-count {
            font-size: 12px;
            font-weight: 400;
            width: 252px;
            margin-left: 270px;
            position: relative;
        }
    }

    &-button {
        border: 2px solid #000000;
        color: #000000;
        background: white;
        height: 42px;
        width: 133px;
        padding: 4px 8px;
        cursor: pointer;
        font-size: 16px;
        margin: auto;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}


.charts-fire {
    color: #ff1464;
    font-size: 20px;
    position: absolute;
    left: -35px;
}