.featured {
    padding: 72px 60px 0px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 1188px;
    margin: auto
}

.news {
    display: flex;
    max-height: 815px;
    font-size: 12px;

    & h1 {
        font-size: 36px;
        line-height: 1.2;
    }

    & p {
        font-size: 16px;
        margin-top: 8px
    }

    &-story {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 460px;
        min-width: 310px;
        text-decoration: none;
        margin-right: 60px;
    }

    &-image {
        height: auto;
        min-height: 257px;
        min-width: 458px; 
        max-width: 668px;
        max-height: 375px;
        object-fit: contain;
    }

    &-header {
        display:flex;
        text-transform: uppercase;
        & div {
            flex: 1;
            border-bottom: 2px solid #000000;
            position: relative;
            top: -9px;
            margin-left: 8px;
        }
    }

    &-footer {
        display: flex;
        font-size: 12px;
        margin-top: 16px;
        &-published-date {
            color: #9A9A9A;
            margin-left: 3px;
        }
    }
}

.sub-stories {
    height: 400px;
    max-height: 454px;
    display: flex;
    padding-top: 40px;

    &-story {
        width: 252px;
        min-width: 162px;
        max-width: 252px;
        border-left: 2px solid #000000;
        padding: 0px 30px;
        
        &:first-child {
            border-left: 0;
            padding-left: 0px;
        }
    }

}
