.nav-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffff64;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    align-items: center;
    height: 41px;
    position: relative;
}

.site-header {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 200px;
    right: 200px;
    text-align: center;
    height: 100%;
    & img {height: 100%}
}

.nav-buttons {
    display: flex;;
    width: 180px;
    font-size: 11px;
    height: 100%;
    position: absolute;
    right: 12px;
}

.nav-buttons a {
    display: flex;
    text-transform: uppercase;
    padding: 16px 8px 8px; 
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
    transition-duration: 0.1s;
    cursor: pointer;
    &:hover {
        border-bottom: 8px solid red;
    }
}

.active-session-buttons {
    max-width: 35%; 
    
    display: flex;
    font-size: 11px;
    height: 100%;
    position: absolute;
    right: 12px;
    & > * {
        border: none;
        outline: none;
        background: none;
        display: flex;
        text-transform: uppercase;
        padding: 6px 8px 8px; 
        text-decoration: none;
        height: 100%;
        box-sizing: border-box;
        transition-duration: 0.1s;
        cursor: pointer;
        &:hover {
            border-bottom: 8px solid red;
        }
    }
}

.profile-icon {
    height: 30px;
    width: auto;
    object-fit: contain;  
    display: inline;
    margin: 0 auto;  
    width: auto;
}

.active-session-button-label {
    margin-left: 6px;
    margin-bottom: 6px;
    border-radius: 50%;
    overflow: hidden;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.search-icon {
    padding: 0px 0.375rem;
}

.fa-pen-alt,
.fa-newspaper,
.fa-bell,
.fa-envelope,
.fa-brain,
.fa-address-card {
    font-size: 16px;
}

.footer {
    height: 445px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: #f9f9f9;
    padding: 72px 60px 32px;
    line-height: 1.2;

    &-left {
        width: 40%;
        font-size: 36px;

        &-links {
            padding-top: 28px;

            & * {
                font-size: 32px;
                padding-right: 16px;
            }
        }
    }

    &-right {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        padding-left: 60px;

        & * {
            width: 45%;
            text-decoration: none;
        }
    }
}