.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 29px;
    position: absolute;
    left: 6px;
    background-color: #f9f9f9;
    position: relative;
}

.search-bar input {
    width: 190px;
    height: 23px;
    border: none;
    box-sizing: border-box;
    border-radius: 0px;
    background-color: #f9f9f9;
    padding-left: 8px;
    padding-right: 0px;
    font-size: 16px;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    &:focus::placeholder {
        color: grey;
    }
}

.search-results {
    position: absolute;
    top: 35px;
    max-height: 863px;
    width: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #EDE8D9;
    padding: 10px;

    &-link {
        padding-top: 8px;
        text-decoration: none;
    }

    &-header {
        font-size: 12px;
        color: #9A9A9A;
    }

    &-song {
        display: flex;

        &-album-image {
            border-radius: 50%;
            height: 48px;
            width: 48px;
        }

        &-details {
            padding-left: 20px;
            
            &-artist {
                font-size: 16px;
            }

            &-title {
                font-size: 12px;
            }

        }

        &-view-count {
            font-size: 12px;
        }
    }
}

.search-fire {
    color: #ff1464;
    font-size: 12px;
    padding-right: 8px;
}