.session-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    width: 500px;
    margin: auto;
}

.session-form {
    position: relative;
    margin: auto;
    max-width: 370px;
    background: #1b1b1b;
    color: #EDE8D9;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border-top: 1px solid #555;
    font-size: 14px;
}

.session-form input {
    width: 338px;
    height: 17px;
    margin-bottom: 13px;
    background: #363636;
    color:#EDE8D9;
    border-radius: 4px;
    border: 1px solid #555;
    padding: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.session-header {
    font-size: 40px;
    color: #EDE8D9;
    margin: auto;
    padding: 15px;
}

.session-form-button {
    background-color: #333333;
    color: #EDE8D9;
    padding: 6px;
    border: 1px solid #555;
    border-radius: 2px;
    cursor: pointer;
}

.signup-prompt {
    margin: auto;
    color: #EDE8D9;
    padding: 10px;
}

.signup-prompt-button {
    color: #5BA7C2;
    text-decoration: none;
    cursor: pointer;
}

.demo-login {
    background-color: #333333;
    color: #EDE8D9;
    margin-left: 10px;
    padding: 6px;
    border: 1px solid #555;
    border-radius: 2px;
    cursor: pointer;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    padding-bottom: 8px;
    margin-bottom: 24px;
}

.errorContainer > * {
    padding: 8px 32px;
}

.errorContainer li {
    list-style-type: disc;
}

#whoops {
    background-color: #990120
}

.session-modal {
    margin-top: -200px;
    height: 120vh;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.98) 100%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .session-container {
        margin-top: 300px;
    }
}

